.body{
    padding-top: 5px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    width: 600px;
    justify-content: center;
    border: solid black 1px;
    border-radius: 8px;
    background-color: rgba(12, 53, 236, 0.205) ;
    color: white;
   
}
.btn button{
    border-radius: 10px;
    border: inset #5499C7;
    font-size: 25px;
    background-color:rgba(102, 102, 219, 0.8) ;
    font-family: cursive;
    font-weight: 600;
    color: rgb(255, 60, 0);
    margin-top: 15px;
}
.btn button:hover{
    cursor: pointer;
    color: rgb(72, 255, 0);
    opacity: 0.6;
}
.id{
    text-align: left;
    font-size: 15px; 
    font-family: cursive;
    color: rgb(30, 87, 5);
    padding-left: 20px;
}
.title{
    font-size: 60px; 
    font-family: cursive;
    color: rgb(100, 248, 37);
}
.image{
    border-radius: 10px;
    width: 250px;
    
}
.temperament{
    text-align: center;
    background-color: transparent;
    font-family: cursive, fantasy;
    font-size: 31px;
    color: rgb(30, 87, 5);
}
.life{
    display: flex;
    font-family: cursive;
    color: rgb(68, 211, 7);
} 
.text{
    align-items: center;
    justify-content: center;
    width: auto;
    color: rgb(30, 87, 5);
    /* display: flex;
    padding-bottom: 20px;
    margin-top: 30px; 
    border-radius: 10px;*/
}
.height {
    font-family: cursive;
    color: rgb(238, 238, 245);
}
.weight {
    font-family: cursive;
    color: rgb(255, 255, 255);
}

  