.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order {
    margin: 10px;
    border: inset #5499C7;
    border-radius: 10px;
    font-family: cursive;
    font-size: 15px;
    background-color: #b8d8f8de;
    color: rgba(73, 116, 235, 0.904);
}
.order:hover{
    color: rgb(50, 175, 25);
    opacity: 0.9;
    cursor: pointer;
}
.weight {
    margin: 10px;
    border: inset #5499C7;
    border-radius: 10px;
    font-family: cursive;
    font-size: 15px;
    background-color: #b8d8f8de;
    color: rgba(73, 116, 235, 0.904);
}
.weight:hover{
    color: rgb(34, 185, 4);
    opacity: 0.9;
    cursor: pointer;
}
.origin {
    margin: 10px;
    border: inset #5499C7;
    border-radius: 10px;
    font-family: cursive;
    font-size: 15px;
    background-color: #b8d8f8de;
    color: rgba(73, 116, 235, 0.904)
}
.origin:hover{
    color: rgb(34, 185, 4);
    opacity: 0.9;
    cursor: pointer;
}
.temperament {
    margin: 10px;
    border: inset #5499C7;
    border-radius: 10px;
    font-family: cursive;
    font-size: 15px;
    background-color: #b8d8f8de;
    color: rgba(73, 116, 235, 0.904)
}
.temperament:hover{
    color: rgb(50, 175, 25);
    opacity: 0.9;
    cursor: pointer;
}
.select {
    color: rgb(34, 185, 4);
    cursor: auto;
}
