/* .body {
    margin-top: 10px;
  
  position: relative; 
  
  margin: 15px;
  margin-bottom: 10px; 

  overflow: visible;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex: auto;
}*/