*{
    font-family: cursive;
    background: url("../images/perros\ prado.jpg");
    background-size: cover;
    background-attachment: fixed;
    object-fit: contain;
}
.landing{
    color: rgb(0, 4, 255);
    text-align: center;
}

.landing button{
    border-radius: 10px;
    border: inset #5499C7;
    font-size: 25px;
    background-color:rgba(102, 102, 219, 0.8) ;
    font-family: cursive;
    font-weight: 600;
    color: rgb(255, 0, 0);
    margin-top: 300px;
    /* margin-left: 720px; */
}
.landing button:hover{
    cursor: pointer;
    color: rgb(157, 255, 0);
    opacity: 0.6;
}