.click {
    color: rgb(34, 185, 4);
    border-radius: 20%;
    font-weight: 500;
    font-size: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(241, 244, 252, 0.856);
    box-shadow: 4px 5px 6px 3px rgba(73, 71, 71, 0.7);
    width: 30px;
}
.click:hover {
    transform: translateY(-1px);
    box-shadow: 7px 8px 9px -1px rgba(92, 99, 209, 0.7);
    opacity: 0.8;
    cursor: pointer;
}
.clickVisited {
    background-color: #a4cbf3b2;
    color: rgba(73, 116, 235, 0.932);
    border-radius: 20%;
    width: 30px;
}
.container {
    display: flex;
    gap: 10px; 
    align-items: center;
    justify-content: center;
    text-decoration:none;
    list-style: none;
}
.prev {
    margin: 4px;
    border: inset #5499C7;
    border-radius: 10px;
    font-family: cursive;
    font-size: 20px;
    width: 60px;
    background-color: #7bb9f8ad;
    color:rgba(73, 116, 235, 0.904);
    
}
.prev:hover{
    color: rgb(0, 255, 55);
    opacity: 0.8;
    cursor: pointer;
}
.next {
    margin: 10px;
    border: inset #5499C7;
    width: 60px;
    border-radius: 10px;
    font-family: cursive;
    font-size: 20px;
    background-color: #7bb9f8ad;
    color:rgba(66, 104, 209, 0.904);
}
.next:hover{
    color: rgb(0, 255, 55);
    opacity: 0.8;
    cursor: pointer;
}