.bar input{
  font-size: 20px;
  font-family: cursive;
  height: 25px;
  border:inset rgb(110, 206, 0);
  background-color: rgba(1, 1, 10, 0.8) ;
  border-radius: 5px;
  margin-right: 10px;
  padding-left: 10px;
  color:rgb(200, 255, 0);
  margin-left: 30px;
  padding: 5px;
  cursor: auto;
}
.bar button{
  /* height: 38px;
  width: 100px; */
  margin: 10px;
  border: inset #5499C7;
  border-radius: 10px;
  font-family: cursive;
  background-color: #34495E;
  color: rgb(0, 9, 134);
}
.bar button:hover{
  color: rgb(255, 0, 0);
  opacity: 0.6;
  cursor: pointer;
}
